<nav id="nav" class="navbar">
  <div class="container navbar">
    <a [routerLink]="['/']" class="logo"></a>
    <ul  class="nav-left">
      <li *ngIf="(isUserLoggedIn | async) === false" class="active">
        <a [routerLink]="['/']">
          Home
        </a>
      </li>
      <li class="active">
        <a [routerLink]="['/restaurants']">
          Restaurants
        </a>
      </li>
      <li *ngIf="isUserLoggedIn | async" class="active">
        <a [routerLink]="['/checkout']">
          Checkout
        </a>
      </li>
      <li *ngIf="isUserLoggedIn | async" class="active">
        <a [routerLink]="['/orders']">
          Orders
        </a>
      </li>
    </ul>
    <ul *ngIf="(isUserLoggedIn | async) === false" class="nav-right">
      <li id="register"  class="active">
        <a (click)="showRegister()" data-cy="navbar-register">
          Register
        </a>
      </li>
      <li class="active">
        <a id="login"  (click)="showLoginModal()" data-cy="navbar-login">
          Log In
        </a>
      </li>
    </ul>
    <ul *ngIf="isUserLoggedIn | async" class="nav-right small">
      <li>
        <a  [routerLink]="['/logout']" data-cy="navbar-logout">
          Log Out
        </a>
      </li>
    </ul>
    <a id="nav-toggle" class="">
      <i class="fa fa-bars"></i>
      <i class="fa fa-times"></i>
    </a>
    <ul class="nav-left small" style="display: none;">
      <li class="active">
        <a [routerLink]="['/']">
          Home
        </a>
      </li>
      <li class="active">
        <a [routerLink]="['/restaurants']">
          Restaurants
        </a>
      </li>
      <li *ngIf="isUserLoggedIn | async" class="active">
        <a [routerLink]="['/checkout']">
          Checkout
        </a>
      </li>
      <li *ngIf="isUserLoggedIn | async" class="active">
        <a [routerLink]="['/orders']">
          Orders
        </a>
      </li>
      <li>
        <ul *ngIf="(isUserLoggedIn | async) === false" class="nav-right small">
          <li>
            <a (click)="showRegister()">
              Register
            </a>
          </li>
          <li>
            <a (click)="showLoginModal()">
              Log In
            </a>
          </li>
        </ul>
        <ul *ngIf="isUserLoggedIn | async" class="nav-right small">
          <li>
            <a  [routerLink]="['/logout']">
              Log Out
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<app-login-modal (closeModalEmitter)="hideModal()" (switchModalEmitter)="switchModal()" *ngIf="loginModalIsVisible"></app-login-modal>
<app-register-modal (closeModalEmitter)="hideModal()" (switchModalEmitter)="switchModal()" *ngIf="registerModalIsVisible"></app-register-modal>
