<li class="r-container">
  <div class="r-info-card-container">
    <a class="r-a-wrapper" href="/">
      <div class="r-info-card-flex">
        <div class="r-sample-image-container">
          <div class="r-sample-image-wrapper">
            <img alt="" src="{{restaurant.heroImageUrl}}" class="r-sample-image">
          </div>
        </div>
              <div class="r-branding">
                <div class="r-logo-wrapper">
                  <img alt="" src="{{restaurant.logoUrl}}" class="r-logo">
                </div>
                <div class="r-name-wrapper">
                  <div class="r-name">{{restaurant.businessName}}</div>
                </div>
              </div>
              <div class="r-divider"></div>
              <div class="r-info-container">
                <div *ngIf="restaurant.deliveryFee" class="r-info-wrapper">
                  <span>Delivery: {{restaurant.deliveryEtaMinutes}} min</span>
                  <span>Pickup: {{restaurant.pickupEtaMinutes}} min</span>
                  <span class="r-delivery-fee">Delivery fee: {{restaurant.deliveryFee | currency}}</span>
                </div>
                <div *ngIf="!restaurant.deliveryFee" class="r-info-wrapper">
                  <span> Pickup: {{restaurant.pickupEtaMinutes}} min</span>
                  <span class="r-delivery-fee">No delivery available</span>
                </div>
              </div>
            </div>

    </a>
  </div>
</li>
