<nav id="nav" class="navbar">
  <div class="container navbar">
    <a href="/" class="logo"></a>
    <ul class="nav-left">
      <li class="active">
        <a [routerLink]="['/']">
          Home
        </a>
      </li>
    </ul>
    <ul *ngIf="!currentUser" class="nav-right">
      <li>
        <a (click)="showRegister()">
          Register
        </a>
      </li>
      <li>
        <a (click)="showLogIn()">
          Log In
        </a>
      </li>
    </ul>
    <ul *ngIf="currentUser" class="nav-right small">
      <li>
        <a  [routerLink]="['/logout']">
          Log Out
        </a>
      </li>
    </ul>
    <a id="nav-toggle" class="">
      <i class="fa fa-bars"></i>
      <i class="fa fa-times"></i>
    </a>
    <ul class="nav-left small" style="display: none;">
      <li class="active">
        <a href="/">
          Search
        </a>
      </li>
      <li class="active">
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <ul *ngIf="!currentUser" class="nav-right small">
          <li>
            <a (click)="showRegister()">
              Register
            </a>
          </li>
          <li>
            <a (click)="showLogIn()">
              Log In
            </a>
          </li>
        </ul>
        <ul *ngIf="currentUser" class="nav-right small">
          <li>
            <a  [routerLink]="['/logout']">
              Log Out
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<app-sign-in-card [action]='"login"' (notifyParent)="hideSignInComponent()" *ngIf="showLoginCard"></app-sign-in-card>
<app-sign-in-card [action]='"register"' (notifyParent)="hideSignInComponent()" *ngIf="showRegisterCard"></app-sign-in-card>
