<nav id="nav" class="navbar">
  <div class="container navbar">
    <a href="/" class="logo"></a>
    <ul class="nav-left">
      <li class="active">
        <a href="/">
          Home
        </a>
      </li>
    </ul>
    <ul class="nav-right">
      <li>
        <a href="/register">
          Register
        </a>
      </li>
      <li>
        <a href="/login">
          Log In
        </a>
      </li>
    </ul>
    <a id="nav-toggle" class="">
      <i class="fa fa-bars"></i>
      <i class="fa fa-times"></i>
    </a>
    <ul class="nav-left mobile" style="display: none;">
      <li class="active">
        <a href="/">
          Search
        </a>
      </li>
      <li class="active">
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <ul class="nav-right mobile">
          <li>
            <a href="/register">
              Register
            </a>
          </li>
          <li>
            <a href="/login">
              Log In
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
