<div class="s-overlay">
<div class="s-wrapper">
    <div class="s-title">
      <h4>Ready to eat?</h4>
      <div class="s-exit">
        <a [routerLink]="['/']"><i class="fa fa-times"></i></a>
      </div>
    </div>
    <div class="s-body">
      <form class="s-form">
        <h5>Enter your email</h5>
        <input type="text" class="s-input" placeholder="Email" value="">
        <h5>Enter your password</h5>
        <input type="password" class="s-input" placeholder="Password" value="">
        <button type="submit" disabled="disabled" class="s-btn">
          <span>Login</span>
        </button>
      </form>
    </div>
</div>
</div>
