<div class='overlay'>
  <div class='wrapper'>
    <div class='exit'>
      <fa-icon
        class='close'
        [icon]='faTimes'
        transform='grow-19'
        (click)='hideModal()'
        data-cy='register-close'
      >
      </fa-icon>
    </div>
    <div class='title'>
      <h4>Ready to eat? Register Below!</h4>
    </div>
    <div class='card-body'>
      <form class='form' [formGroup]='registrationForm' (ngSubmit)='onSubmit()' data-cy='register-form'>
        <div *ngIf='pageOneVisible'>

          <div class='flex-column-center'>
            <h5>First Name</h5>
            <input formControlName='firstName' type='text' class='input' data-cy='register-first-name'>
            <p class='error' *ngIf="registrationForm.get('firstName').errors?.invalidName">Please enter a valid first
              name.</p>
          </div>
          <div class='flex-column-center'>
            <h5>Last Last</h5>
            <input formControlName='lastName' type='text' class='input' data-cy='register-last-name'>
            <p class='error' *ngIf="registrationForm.get('lastName').errors?.invalidName">Please enter a valid last
              name.</p>
          </div>
          <div class='flex-column-center'>
            <button class='btn'
                    [disabled]="registrationForm.get('firstName').invalid || registrationForm.get('lastName').invalid"
                    (click)='showPageTwo()'
                    data-cy='register-next'>
              Next
            </button>
          </div>
        </div>
        <div *ngIf='pageTwoVisible'>
          <div class='flex-column-center'>
            <h5>Email</h5>
            <input formControlName='email' type='email' class='input' data-cy='register-email'>
            <p class='error' *ngIf="registrationForm.get('email').errors">Please enter a valid email.</p>
            <p class='error' *ngIf='(error$ | async)'>{{ (error$ | async) }}</p>
          </div>
          <div class='flex-row-space col-2'>
            <div class='flex-column-center'>
              <h5>Password</h5>
              <input formControlName='password' type='password' class='input'
                     data-cy='register-password'>
              <p class='error'
                 *ngIf="registrationForm.get('password').value &&
                  registrationForm.get('password').errors"
              >
                Does not meet requirements</p>
            </div>
            <div class='flex-column-center'>
              <h5>Confirm password</h5>
              <input formControlName='confirmPassword'
                     type='password'
                     class='input'
                     data-cy='register-confirm-password'
              >
              <p class='error'
                 *ngIf="registrationForm.get('confirmPassword').value &&
                 registrationForm.errors?.sameValue &&
                 !registrationForm.get('password').errors"
              >
                Passwords don't match</p>
            </div>
          </div>
          <div class='requirements'>
            <p>Password Requirements: </p>
            <ul>
              <li>
                At least 6 characters
              </li>
              <li>
                At least 1 number, uppercase, or symbol
              </li>
            </ul>
          </div>
          <div class='flex-column-center'>
            <button
              [disabled]='registrationForm.invalid'
              type='submit' class='btn'
              data-cy='register-submit'>
              <span *ngIf='(isLoading$ | async) === false'>Register</span>
              <span *ngIf='isLoading$ | async'>Registering...</span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <h5><a (click)='switchModalToLoginModal()'
           data-cy='register-switch-to-login'>Already have an account?</a></h5>
  </div>
</div>
