<div class="overlay">
  <div class="wrapper">
    <div class="exit">
      <fa-icon (click)="hideModal()" class="close" [icon]="faTimes" transform="grow-19"></fa-icon>
    </div>
    <div class="title">
      <h4>Ready to eat? Register Below!</h4>
    </div>
    <div class="card-body">
      <form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div *ngIf="pageOneVisible">

          <div class="flex-column-center">
            <h5>First Name</h5>
            <input formControlName="firstName" type="text" class="input">
            <p class="error" *ngIf="registrationForm.get('firstName').errors?.invalidName">Please enter a valid first
              name.</p>
          </div>
          <div class="flex-column-center">
            <h5>Last Last</h5>
            <input formControlName="lastName" type="text" class="input">
            <p class="error" *ngIf="registrationForm.get('lastName').errors?.invalidName">Please enter a valid last
              name.</p>
          </div>
          <div class="flex-column-center">
            <button class="btn"
                    [disabled]="!registrationForm.get('firstName').valid || !registrationForm.get('lastName').valid"
                    (click)="showPageTwo()">
              <span>Next</span>
            </button>
          </div>
        </div>
        <div *ngIf="pageTwoVisible">
          <div class="flex-column-center">
            <h5>Email</h5>
            <input formControlName="email" type="email" class="input">
            <p class="error" *ngIf="registrationForm.get('email').errors">Please enter a valid email.</p>
            <p class="error" *ngIf="(error$ | async)">{{ (error$ | async) }}</p>
          </div>
          <div class="flex-row-space col-2">
            <div class="flex-column-center">
              <h5>Password</h5>
              <input formControlName="password" type="password" class="input" (keyup)="checkPasswordRequirements()">
            </div>
            <div class="flex-column-center">
              <h5>Confirm password</h5>
              <input formControlName="confirmPass" type="password" class="input" (keyup)="checkPasswordRequirements()">
            </div>
          </div>
          <div class="requirements">
            <p>Password Requirements: </p>
            <ul>
              <li [class]="pwReqLengthIsMet ? 'green' : 'red'">At least 6 characters</li>
              <li [class]="pwReqPatternIsMet ? 'green' : 'red'">At least 1 number or uppercase</li>
              <li [class]="pwConfirmFieldMatches ? 'green' : 'red'">Password fields must match</li>
            </ul>
          </div>
          <div class="flex-column-center">
            <button
              [disabled]="registrationForm.invalid || registrationForm.get('password').value !== registrationForm.get('confirmPass').value"
              type="submit" class="btn">
              <span *ngIf="(isLoading$ | async) === false">Register</span>
              <span *ngIf="isLoading$ | async">Registering...</span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <h5><a (click)="switchModalToLoginModal()" data-switch-to-login>Already have an account?</a></h5>
  </div>
</div>
