<app-banner></app-banner>
<div *ngFor="let tile of tiles; index as i">
  <div [ngClass]="i % 2 === 0 ? '' : 'slant-left'">
    <div class="b-wrapper">
      <div class="b-text-container">
        <div class="b-text-flex">
          <div class="b-text-wrapper">
            <h2>{{tile.heading}}</h2>
            <p>{{tile.text}}</p>
          </div>
        </div>
      </div>
      <div class="b-image" [ngStyle]="{backgroundImage: 'url('+tile.imageUrl+')'}">
        <div class="b-slanted-blocker"></div>
      </div>
    </div>
  </div>
</div>
