<div class="c-container">
  <h4>Cart - {{restaurantName}}</h4>
  <button [routerLink]="['/checkout']" class="c-btn">
    <div style="display: flex; flex-direction: row; justify-content: space-around">
      <span>Checkout</span><span *ngIf="cartItems">{{this.cartTotal || 0 | currency}}</span>
    </div>
  </button>
  <ul>
    <li *ngFor="let cartItem of this.cartItems">
      <div class="c-order-line">
        <div class="c-img-quantity-container">
          <div class="c-item-image-wrapper">
            <div class="c-item-image" [ngStyle]="{backgroundImage: 'url('+cartItem.menuItem.imageUrl+')'}"></div>
          </div>
          <div class="c-quantity-container">
            <div class="c-quantity-wrapper">
              <span class="c-quantity">{{cartItem.quantity}}</span>
            </div>
          </div>
        </div>
        <div class="c-info-wrapper">
          <span class="c-item-name">{{cartItem.menuItem.name}}</span>
          <span class="c-price">{{cartItem.quantity * cartItem.priceEach | currency}}</span>
        </div>

        <div class="c-exit">
          <a (click)="removeFromCart(cartItem.menuItem.id)"><i class="fa fa-times"></i></a>
        </div>
      </div>
    </li>
  </ul>

</div>

