.c-container {
  position: fixed;
  overflow-y: auto;
  height: calc(100vh - 400px);
  top: 400px; /* height of top banner */
  right: 0;
  width: 340px;
  min-width: 340px;
  z-index: 1001;
  padding: 0 20px;
  border-left: 1px solid rgb(205, 205, 205);
}

h4 {
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, serif;
}

li {
  margin-bottom: 2em;
}

.c-quantity-container {
  display: flex;
  justify-content: center;
  align-items: center
}

.c-quantity-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  font-size: small;
  width: 25px;
  height: 25px;
  background: #d0d4d7;
}


.c-quantity {
  text-align: center;
}


.c-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.c-order-line {
  display: flex;
  position: relative;
  border: 1px solid rgba(186, 186, 186, 0.5);
  padding: 20px;
}

.c-btn {
  padding: 0;
  margin-bottom: 1.5rem;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  background-color: #e7383f;
  color: #fff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, serif;
  font-size: 14px;
  letter-spacing: initial;
  font-weight: 600;
  line-height: normal;
  height: 45px;
  border-radius: 28px;
  width: 100%;
}

.c-exit {
  position: absolute;
  top: 25%;
  right: 7%;
  cursor: pointer;
  height: 24px;
  width: 24px;
  font-size: 15px;
}

