<div class="banner" [ngStyle]="{backgroundImage: 'url('+heroImageUrl+')'}">
  <div class="container">
    <h1>Feed your hungry</h1>
    <div style="display: flex; justify-content: center">
      <div style="width: 600px;">
        <app-address-bar></app-address-bar>
      </div>
    </div>
  </div>
</div>


<!--<div class="banner" [ngStyle]="{backgroundImage: 'url('+heroImageUrl+')'}">-->
<!--  <div class="container">-->
<!--    <h1>Feed your hungry</h1>-->
<!--    <app-address-bar></app-address-bar>-->
<!--  </div>-->
<!--</div>-->
