.o-heading {
  margin: 0 0 1em;
}

.o-heading h2 {
  font-size: 1.8em;
  margin: 0.5em 0;
}

.o-heading p {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

.o-heading p {
  font-weight: 600;
}

.o-small-text {
  font-size: small;
}

.o-flex-container {
  display: flex;
  flex-direction: column;
  margin: 1em auto 3em;
  width: 800px;
}

.o-orders-container {
  border: 1px solid #b4bdc2;
  padding: 0 17px;
}


.o-orders-container > span {
  display: inline-block;
  margin: 0.2em 0;
}

.o-order-container {
  padding: 0.75em 0.5em;
 }

.o-order-container {
  border-bottom: 1px solid #b4bdc2;
}

.o-order-container:last-child {
  border-bottom: none;
}


.o-order-container h4 {
  margin: 0 0 0.5em;
}

ul.o-items-names li {
  display: inline;
}

ul.o-items-names {
  display: inline;
}

ul.o-items-names :not(:last-child):after {
  content: ", ";
}
