@import "assets/css/normalize.css";
@import "assets/css/custom-radio-buttons.css";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans&display=swap');

html {
  font-family: "Open Sans", serif;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
  overflow: auto;
}


@media screen and (max-width: 1025px) {

  .container {
    width: 100%;
    overflow-y: hidden;
  }
}
