@import "assets/css/normalize.css";
@import "assets/css/fontawesome-free-5.15.3-web/css/fontawesome.css";
@import "assets/css/fontawesome-free-5.15.3-web/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


html {
  font-family: "Open Sans", serif;
  -webkit-text-size-adjust: 100%;
  height: 3000px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: auto;
  overflow: auto;
}

a {
  text-decoration: none;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 1025px) {

  .container {
    width: 100%;
    overflow-y: hidden;
  }
}
