<app-banner-small
  [headline]="'Checkout'"
  [tagline]="'So close you can almost taste it'"
  [backgroundPositionY]="56"
  [heroImageUrl]="this.heroImageUrl">
</app-banner-small>


<div class="c-left-container">

<!--  <agm-map *ngIf="this.restaurantCoordinates" [fitBounds]="true">-->
<!--    <agm-marker [iconUrl]="this.iconMarkerImage" [latitude]="this.restaurantCoordinates[0]" [longitude]="this.restaurantCoordinates[1]" [agmFitBounds]="true"></agm-marker>-->
<!--    <agm-marker [latitude]="this.customerCoordinates[1]" [longitude]="this.customerCoordinates[0]" [agmFitBounds]="true"></agm-marker>-->
<!--  </agm-map>-->

  <div class="c-checkout-wrapper" style="display: flex; flex-direction: row">

    <form #checkoutForm="ngForm">
      <div>
        <div class="c-header">
          <h3>Delivery or Pickup</h3>
        </div>
        <div class="radio-wrapper">
          <input [(ngModel)]="deliveryMethod" type="radio" name="deliveryMethod" value="delivery" id="delivery">
          <input [(ngModel)]="deliveryMethod" type="radio" name="deliveryMethod" value="pickup" id="pickup">
          <label  [(ngModel)]="deliveryMethod" for="delivery" class="option option-1">
            <div class="dot"></div>
            <span>Delivery</span>
          </label>
          <label for="pickup" class="option option-2">
            <div class="dot"></div>
            <span>Pickup</span>
          </label>
        </div>
      </div>
      <div>
        <div class="c-header">
          <h3>Payment</h3>
        </div>
        <div class="radio-wrapper radio-wrapper-long">
          <input [(ngModel)]="paymentMethod" type="radio" name="paymentType" value="card" id="card" [checked]="true">
          <input [(ngModel)]="paymentMethod" type="radio" name="paymentType" value="applePay" id="applePay">
          <input [(ngModel)]="paymentMethod" type="radio" name="paymentType" value="payPal" id="paypal">
          <label for="card" class="option option-1">
            <div class="dot"></div>
            <span>Credit Card</span>
          </label>
          <label for="applePay" class="option option-2">
            <div class="dot"></div>
            <span>Apple Pay</span>
          </label>
          <label for="paypal" class="option option-3">
            <div class="dot"></div>
            <span>PayPal</span>
          </label>
        </div>
      </div>
      <div>
        <div class="c-header">
          <h3>Include utensils</h3>
        </div>
        <div class="radio-wrapper">
          <input [(ngModel)]="utensils" type="radio" name="utensils" value="utensilsYes" id="utensilsYes" checked>
          <input [(ngModel)]="utensils" type="radio" name="utensils" value="utensilsNo" id="utensilsNo">
          <label [(ngModel)]="utensils" for="utensilsYes" class="option option-1">
            <div class="dot"></div>
            <span>Yeah, sure</span>
          </label>
          <label for="utensilsNo" class="option option-2">
            <div class="dot"></div>
            <span>No thanks</span>
          </label>
        </div>
      </div>
      <div>
        <div class="c-header">
          <h3>Tip</h3>
        </div>
        <div class="radio-wrapper radio-wrapper-long">
          <input [(ngModel)]="tip" (ngModelChange)="emitRecalculateTip()" type="radio" name="tip" value="0" id="tip0" checked>
          <input [(ngModel)]="tip"  (ngModelChange)="emitRecalculateTip()" type="radio" name="tip" value="10" id="tip10">
          <input [(ngModel)]="tip" (ngModelChange)="emitRecalculateTip()" type="radio" name="tip" value="20" id="tip20">
          <label for="tip0" class="option option-1">
            <div class="dot"></div>
            <span class="x-small">No thanks</span>
          </label>
          <label for="tip10" class="option option-2">
            <div class="dot"></div>
            <span class="x-small">10% | {{this.tipTenPercent | currency}}</span>
          </label>
          <label for="tip20" class="option option-3">
            <div class="dot"></div>
            <span class="x-small">20% | {{this.tipTwentyPercent | currency}}</span>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>

<app-cart [events]="tipSubject.asObservable()" (emitTotalPrice)="updateTipAmounts($event)" (emitCoordinates)="coordinatesReceived($event)" (submitOrder)="submitOrder()"></app-cart>
